.withFrame-2dL45i {
    height: 23px;
    margin-top: 5px;
}
.winButton-3UMjdg {
    width: 45px;
    height: 29px;
}

.content-1jQy2l,
.withFrame-2dL45i,
.platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA{
    background-color: black;
}